body {
    margin: 0;
}

img #background {
    display: flex;
    background-image:url(./obrazki/Money_and_Financial_Data_-_Finance_Concept.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img#coinstack {
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
    filter: invert(64%) sepia(57%) saturate(410%) hue-rotate(357deg) brightness(91%) contrast(84%);
}

div#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div#citation {
    align-self: center;
}

section {
    display: flex;
    background-color: #0b1826; /*black jest lepszy?*/
    /* rgb(31, 30, 30); */
    flex-direction: column;
}

h1, h2, h3 {
    color: white;
}

h1, h2 {
    align-self: center;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0rem;
    margin-top: 0.7rem;
}

h3 {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: rgb(170, 168, 168);
}

h1 {
   margin: 0.5rem;
   font-family: 'Times New Roman',serif;
   letter-spacing: 0.1rem;
   font-size: 3rem;
   font-weight: bold;
   background-image: linear-gradient(
	to right,
	#462523 0,
	#cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
   color:transparent;
   -webkit-background-clip:text;
}