body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* hide scroll bar */

body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
  }
  
  body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

/* scroll bar is hidden */

html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('./obrazki/Money_and_Financial_Data_-_Finance_Concept.jpg');
}

img #background {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

img#coinstack {
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
    filter: invert(64%) sepia(57%) saturate(410%) hue-rotate(357deg) brightness(91%) contrast(84%);
}

div#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div#citation {
    align-self: center;
}

.listItems {
    height: 1.1rem;
    width: auto;
    margin-left: 0.5rem;
}

header {
    display: flex;
    background-color: #0b1826;
    flex-direction: column;
}

h1,
h2,
h3 {
    color: white;
}

h1,
h2 {
    align-self: center;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0rem;
    margin-top: 0.7rem;
}

h3 {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: rgb(170, 168, 168);
    transform: skew(-0.25rad);
}

h4 {
    font-family: 'Merienda', cursive;
}

h1 {
    margin: 0.5rem;
    font-family: 'Times New Roman', serif;
    letter-spacing: 0.1rem;
    font-size: 3rem;
    font-weight: bold;
    background-image: linear-gradient(to right,
            #462523 0,
            #cb9b51 22%,
            #f6e27a 45%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #462523 100%);
    color: transparent;
    -webkit-background-clip: text;
}

li {
    padding: 0.5rem;
}

ul li::marker {
    content: '✓';
    color: green;
    font-weight: bold;
    font-size: 1.2rem;
}

.authorsThoughts {
    font-family: 'Roboto', serif;
}

.authorsThoughts p {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0rem;
}

.bottomContent {
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomContent>div {
    display: flex;
    width: 48rem;
    height: 20rem;
    margin-bottom: 5rem;
    margin-top: 0rem;
    background-color: #eeeeee;
    border-radius: 5px;
    border-color: black;
    border: solid;
    border-width: 2px;
}

.bottomContent>div>h4 {
    font-size: 1.7rem;
    margin: 1rem 4rem 2rem 4rem;
}

.bottomContent>div>p {
    font-size: 1.4rem;
    margin-top: 0rem 4rem 1rem 4rem;
}

.authorsThoughts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    width: 48rem;
}

nav>div {
    width: 8rem;
}

.login p,
.register p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 24, 38);
    border-radius: 3px;
    color: white;
    border: solid;
    border-width: 0.5px;
    border-color: black;
    margin: 0 0 0.4rem 0;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    height: 2.8rem;
    width: 348px;
    letter-spacing: 0.1rem;
}

button {
    width: 350px;
    height: 3.8rem;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

button>img {
    align-self: center;
    margin: 0;
    padding-left: 1rem;
}

button:hover {
    transform: translateY(0.05rem);
    cursor: pointer;
}

.login button {
    background-color: green;
}

.register button {
    background-color: rgb(22, 85, 85);
}

/* Registry panel below */
.registrySpace {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
}

section.registrySpace {
    display: flex;
    position: static;
    height: auto;
    width: 36rem;
    border-radius: 5px;
}

.registrySpace h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
}

div#registryMainText {
width: 100%;
display: flex;
justify-content: center;
background-image: linear-gradient(to right top, #0f3239, #103a41, #114348, #134c4f, #165555);border-radius: 5px 5px 0 0;
margin-bottom: 1.8rem;
}

.registrySpace .info {
    margin: 1rem;
    align-self: center;
}

.registrySpace img {
    background-color: rgb(221, 220, 220);
}

div.info {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 1rem;
    width: 14rem;
}

div.info>img {
    border: solid;
    border-color: grey;
    border-width: 1px;
    height: 1.5rem;
    padding: 0;
    width: 10%;
}

div.info>input {
    border: solid;
    border-color: grey;
    border-width: 1px;
    height: 1.5rem;
    width: 85%;
    padding: 0 0 0 0.5rem;
}

#buttonSpacing {
    height: 1rem;
}

.positive {
    background-color: rgb(22, 85, 85);
    height: 2.7rem;
    width: 14rem;
    justify-self: center;
    margin-bottom: 8rem;
}

.negative {
    background-color: rgb(179, 79, 79);
    width: 7rem;
    height: 2.7rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    align-self: flex-end
}

.buttons nav {
    width: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

#backgroundDarkenedMode {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./obrazki/Money_and_Financial_Data_-_Finance_Concept.jpg');
}

/*login styles ponizej*/

div#loginMainText {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right top, #0a7a1d, #31891c, #4d9819, #67a715, #82b510);
    margin-bottom: 1.8rem;
    border-radius: 5px 5px 0 0;
    }

.positiveLogin {
    background-image: linear-gradient(to right top, #0a7a1d, #31891c, #4d9819, #67a715, #82b510);
        height: 2.7rem;
        width: 14rem;
        justify-self: center;
        margin-bottom: 8rem;
    }

.rememberUser {
    align-self: center;
    margin-right: 6.4rem;
    font-size: 0.95rem;
    margin-bottom: 2rem;
}

/* Home page below */

#homePage {
    background-image: none;
    background-color: #070707;
}

#toolbar {
    width: auto;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    color: white;
    background-image: linear-gradient(to top, #0b1826, #152130, #1f2b3a, #293544, #333f4f);    
    border: solid;
    border-width: 1px 0 0 0;
    border-color: rgb(184, 184, 184);
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
}

#toolbar button {
    background: none;
    font-size: 0.9rem;
    border-width: 0 1px 0 0px;
    border-color: rgb(255, 255, 255);
    border-radius: 0;
    margin: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    width: auto;
    height: auto;
}

#toolbar button:hover {
    background-color: #0d3453;
    border-radius: 1px;
    transform: none;
    padding-top: 0.3rem;
}

#toolbar div:nth-of-type(2)
{
    display: flex;
    border-width: 0;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: auto;
} 

#toolbar button:nth-of-type(6)
{
    border-width: 0;
} 

.toolbarIcons {
    filter: invert(100%) sepia(72%) saturate(4641%) hue-rotate(180deg) brightness(117%) contrast(100%);
    margin-right: 0.5rem;
}

.listOfSteps {
    background-image: url(./obrazki/homePageBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 0;
    padding-top: 3%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listOfSteps>div {
    display: flex;
    width: 48rem;
    height: auto;
    margin-bottom: 5rem;
    margin-top: 0rem;
    border-color: black;
}

.listOfSteps img {
    filter: invert(100%) sepia(0%) saturate(18%) hue-rotate(348deg) brightness(106%) contrast(106%);
}

.listOfSteps>div>h4 {
    font-size: 1.9rem;
    margin: 0rem 4rem 2rem 4rem;
    color: white;
}

p.stepByStep {
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 0.8rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-family: Roboto;
    color: white;
}

/* Expense Menu below */

.expense {
    background-image: url(./obrazki/homePageBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 0;
    padding-top: 2%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.expenseMenu {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.expenseMenu h2 {
    color: white;
    background-image: linear-gradient(to bottom, #f44848, #db3a38, #c22c29, #aa1d1a, #920b0b);
    font-family: Roboto, serif;
    font-size: 2rem;
    width: 100%;
    margin-top: 0;
    padding: 1rem 0 0.8rem 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

.expenseMenu label, legend {
    display: flex;
    align-self: center;
    color: rgb(0, 0, 0);
    width: 11rem;
    height: 1rem;
    justify-content: right;
    align-items: center;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

label.paymentMethods, label.categoryOfExpense {
    color: black;
    font-size: 0.95rem;
}

legend {
    margin-right: 1rem;
}

legend#category {
    display: flex;
    align-self: flex-start;
}

div.expenseAndIncomeInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0.5rem 6rem 0.5rem 1rem;
}

label#retirement {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.expenseMenu input {
    height: 1.4rem;
    width: 60%;
    padding: 2px 1px 2px 1px;
    border-width: 2px;
    border-radius: 5px;
    border-color: grey;
}

.expenseMenu input[type=radio] {
    width: auto;
    align-self: center;
    align-items: center;
}

label.paymentMethods {
    width: auto;
    margin-right: 1rem;
    margin-left: 0.2rem;
}

.singlePaymentsMethodsSection{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.typeOfExpense {
    display: flex;
    flex-direction: column;
}

section.typeOfExpense {
    display: flex;
    flex-direction: column;
}

div.singleExpenseTypeSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 6rem 0rem 1rem;
}

label.categoryOfExpense {
    justify-content: left;
    padding-left: 1rem;
}

.expense .buttons > nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: right;
}

.expense .positiveLogin {
    width: 51%;
    margin-bottom: 2rem;
    margin-left: 8.4rem;
    justify-self: right;
}

/* Incomes menu below */

.income {
    background-image: url(./obrazki/homePageBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 0;
    padding-top: 2%;
    width: 100%;
    height: 748px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.incomeMenu {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.incomeMenu h2 {
    color: white;
    background-image: linear-gradient(to top, #18720f, #217d10, #2a8811, #349411, #3d9f11);    
    font-family: Roboto, serif;
    font-size: 2rem;
    width: 100%;
    margin-top: 0;
    padding: 1rem 0 0.8rem 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

.incomeMenu label, legend {
    display: flex;
    align-self: center;
    color: rgb(0, 0, 0);
    width: 11rem;
    height: 1rem;
    justify-content: right;
    align-items: center;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

label.categoryOfIncome {
    color: black;
    font-size: 0.95rem;
}

legend {
    margin-right: 1rem;
}

legend#categoryIncomeMenu {
    display: flex;
    align-self: flex-start;
    padding-top: 1.16rem;
}

.incomeMenu input {
    height: 1.4rem;
    width: 60%;
    padding: 2px 1px 2px 1px;
    margin: 0;
    border-width: 2px;
    border-radius: 5px;
    border-color: grey;
}

.incomeMenu input[type=radio] {
    width: auto;
    align-self: center;
    align-items: center;
}

.typeOfIncome {
    display: flex;
    flex-direction: column;
}

section.typeOfIncome {
    display: flex;
    flex-direction: column;
}

div.singleIncomeTypeSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 6rem 0rem 1rem;
}

label.categoryOfIncome {
    justify-content: left;
    padding-left: 1rem;
}

.income .buttons > nav {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.income .positiveLogin {
    width: 51%;
    margin-bottom: 2rem;
    margin-left: 8.4rem;
    justify-self: right;
}

.income div.expenseAndIncomeInfo {
    padding-bottom: 1rem;
}

.income button.positiveLogin {
    margin-left: 7.5rem;
    width: 50.6%;
}

/* Check Balance below */

.balanceSheet {
    background-image: url(./obrazki/homePageBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 0;
    padding-top: 1.1%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.upperPanel {
    background-image: linear-gradient(to bottom, #2b66a4, #25548f, #1e427b, #173167, #0f2153);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 68%;
    height: auto;
    background-color: #9c1212;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    padding: 1.4rem;
}

.upperPanel h2 {
    justify-content: center;
    align-content: center;
    font-family: 'Adamina', sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0.15rem;
    margin: 0;
}

select {
    width: 25%;
    height: 5%;
    color: rgb(63, 63, 63);
    background-color: white;
    border: thin solid grey;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    font-family: 'Roboto', serif;
    font-weight: bold;
    letter-spacing: 0.15rem;
    line-height: 1.5em;
    padding: 0.5rem 3.5rem 0.5rem 1rem;
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
      linear-gradient(45deg, transparent 50%, white 50%),
      linear-gradient(135deg, white 50%, transparent 50%),
      radial-gradient(rgb(164, 197, 207) 70%, transparent 72%);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - .5em) .5em;
    background-size:
      5px 5px,
      5px 5px,
      1.5em 1.5em;
    background-repeat: no-repeat;
  }
  
  select:focus {
      color: rgb(63, 63, 63);
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      radial-gradient(rgb(60, 106, 119) 70%, transparent 72%);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - .5em) .5em;
    background-size:
      5px 5px,
      5px 5px,
      1.5em 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }

  option {
      color: black;
      font-weight: bold;
  }

section.generalPanelsInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

table {
    width: 40rem;
    height: auto;
    text-align: center;
    background-color: black;
    border-collapse: separate;
    border-spacing: 0 10px;
    border-radius: 2px;
    margin-top: 0.8rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

.incomesExpensesTableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dee5ec;
    width: 41rem;
    border-radius: 2px;
    margin: 1rem;
}

#incomesTable {
    background-color: #dee5ec;
}

#expensesTable {
    background-color: #dee5ec;
}

thead tr:not(:first-child) {
    background-color: #343a40;
    color: white;
}

thead tr:nth-of-type(1) th:nth-of-type(1) {
    text-align: center;
    font-size: 1.5rem;
    color:#215580;
}

th {
    padding: 0.4rem;
}

th.positionNumber {
    text-align: center;
}

tbody tr {
    background-color: white;
    box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 29%);
}

tbody tr td:nth-of-type(1) {
    text-align: center;
}

tr, td {
    text-align: left;
    padding: 0.4rem;
}

tfoot td:nth-of-type(1) {
    text-align: center;
}

#incomesTable tfoot td {
    background-color: rgb(164, 218, 102);
    font-weight: bold;
}

#incomesTable tfoot, #expensesTable tfoot {
    box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 29%);
}

#incomesTable tfoot td:nth-of-type(2) {
    color: rgb(15, 85, 15);
}

#expensesTable tfoot td {
    background-color: rgb(224, 112, 104);
    font-weight: bold;
}

#expensesTable tfoot td:nth-of-type(2) {
    color: rgb(83, 12, 10);
}

footer {
    background-color: #dee5ec;
    border: solid 5px rgb(73, 106, 156);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    margin: 1rem 0 2rem 0;
}

footer h2 {
    color: black;
    font-size: 1.8rem;
    font-family: 'Adamina', serif;
    letter-spacing: 0.1rem;
}

footer h2:nth-of-type(2) {
    font-size: 1rem;
}

footer p:nth-of-type(1) {
    color: rgb(15, 85, 15);
    font-size: 1.3rem;
    font-family: 'Lato', serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

footer img {
    padding: 0;
    margin: 0;
    height: 2.2rem;
    width: auto;
    margin-top: 0.8rem;
    margin-right: 0.4rem;
}

footer p, footer h2 {
    display: flex;
    justify-content: center;
}

div#balanceSummary {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* small resolutions devices support */

@media (max-width: 1650px) {

    /* date button */

    section.upperPanel select#date {
        width: 25%;
    }
    
}

@media (max-width: 1450px) {

    /* date button */

    section.upperPanel {
        width: 88%;
        padding: 3% 3% 3% 3%;
        flex-direction: column;
    }

    section.upperPanel select#date {
        width: 40%;
        margin-top: 0.6rem;
    }
    
}

@media (max-width: 700px){

/* Toolbar */
 


/* expenses menu */
    section.expense {
        justify-content: center;
        align-content: center;
        justify-items: center;
        padding-top: 5%;
    }

    .expenseMenu h2 {
        flex-wrap: wrap;
        width: fit-content;
        padding-left: 0.4em;
        padding-right: 0.4em;
        text-align: center;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-content: center;
    }

    div.expenseMenu {
        justify-self: center;
        justify-items: center;
        align-items: center;
        max-width: 80%;
    }

    div.expenseAndIncomeInfo {
        flex-direction: column;
        align-self: center;
        padding-right: 1rem;
    }

    div.singleExpenseTypeSection {
        width: 10rem;
        display: flex;
        flex-direction: row;
        padding: 0.1rem;
        align-items: center;
        justify-content: left;
        padding-left: 1rem;
    }

    div.singlePaymentsMethodsSection {
        width: 10rem;
        justify-content: left;
        padding-left: 1rem;
    }

    label.paymentMethods {
        padding-left: 1rem;
    }

    legend#category {
        justify-content: center;
        align-self: center;
        margin: 1rem 0 0.3rem 0;
    }

    legend {
        justify-content: center;
        align-self: center;
        margin: 1rem 0 0.3rem 0;
    }

    input[type="radio"] {
        margin: 0;
    }

    input#comment, input#date, input#ExpenseAmount {
        width: 100%;
    }

    .expense .positiveLogin {
        margin: 0;
        width: 40%;
        font-size: inherit;
    }

    .expense .negative {
        margin: 0 0 0 5px;
        width: 30%;
        font-size: inherit;
    }

    .expense .buttons > nav {
        width: 20rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    /* incomes menu */

    section.income {
        padding-top: 5%;
        align-self: flex-start;
        justify-content: flex-start;
        align-content: center;
    }

    .incomeMenu h2 {
        flex-wrap: wrap;
        width: fit-content;
        padding-left: 0.6em;
        padding-right: 0.6em;
        text-align: center;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-content: center;
    }

    legend#categoryIncomeMenu {
        justify-content: center;
        align-self: center;
        margin: 1rem 0 0.3rem 0;
        padding-top: 0;
    }

    div.incomeMenu {
        justify-self: center;
        justify-items: center;
        align-items: center;
        max-width: 80%;
    }

    .income button.positiveLogin {
        margin: 0;
        width: 40%;
        font-size: inherit;
        margin: 0;
    }

    .income button.negative {
        flex-wrap: wrap;
        margin: 0 0 0 5px;
        width: 30%;
        font-size: inherit;
    }


    .income .buttons > nav {
        width: 20rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    .income div.expenseAndIncomeInfo {
        padding-bottom: 0.5rem;
    }

    div.singleIncomeTypeSection {
        width: 10rem;
        display: flex;
        flex-direction: row;
        padding: 0.1rem;
        align-items: center;
        justify-content: left;
        padding-left: 1rem;
    }

    /* Registry Panel */

    section.registrySpace {
        max-width: 90%;
    }

    /* Main Page */

    div#logo {
        justify-self: center;
        padding: 1rem;
    }

    div#logo {
        width:auto;
    }

    div#citation {
        justify-self: center;
        padding: 1rem;
    }

    div.authorsThoughts {
        width: 95%;
        height: auto;
    }

    div.authorsThoughts > h4 {
        text-align: center;
    }


    div.authorsThoughts > p {
        text-align: center;
    }

    nav {
        max-width: 95%;
        margin-bottom: 3rem;
        justify-self: center;
        align-self: center;
        justify-content: center;
    }

    nav>div {
        width: 5%;
    }

    section.login, section.register {
        width: 95%;
        font-size: inherit;
    }

    .login p, .register p {
        width: 98%;
        margin: 0;
    }

    button#registerButton, button#loginButton {
        width: 100%;
        height: 50%;
        padding: 10px;
        margin-top: 0.25rem;
    }

    /* Home Page below */

    section.listOfSteps {
        padding-top: 8%;
    }

    /* Balance Sheet below */

    section.incomesExpensesTableContainer {
        width: 95%;
        margin: 2;
    }

    section.upperPanel {
        width: 88%;
        padding: 3% 3% 3% 3%;
        flex-direction: column;
    }

    table#incomesTable, table#expensesTable {
        width: 91%;
    }

    #incomesTable tbody > th, #expensesTable tbody > th {
        font-size: 5rem;
    }

    section.upperPanel h2 {
        text-align: center;
    }

    section.upperPanel select#date {
        width: 65%;
        margin-top: 0.6rem;
    }

}
